<div dir="rtl" class="min-h-screen flex flex-col lg:flex-row">
  <div class="img bg-amber-200 hidden lg:block lg:w-1/2">
    <img src="https://preview.redd.it/now-hes-totally-lost-v0-svwr3v7cs22f1.png?auto=webp&s=43b2929fe4a636d2fc33143b919c5137b939e65c" alt="404 image" class="h-full">
  </div>
  <div class="flex-1 flex justify-center items-center text-center text-2xl px-6">
    <div>
      <h1 class="text-8xl font-bold">404</h1>
      <p class="my-4 text-green-primary">عذرًا، لم نتمكن من العثور على الصفحة المطلوبة.</p>
      <p class="font-bold">يبدو أنك تائه!</p>
      <a routerLink="/login" class="block bg-green-primary rounded-md mt-6 py-3 text-light-primary text-lg hover:bg-dark-primary transition-colors duration-300">
        العودة للرئيسية
        <i class="fa-solid fa-circle-arrow-left px-2"></i>
      </a>
    </div>
  </div>
</div>