<div dir="rtl" class="bg-linear-to-tl from-gradientDark to-gradientDarkLighter py-5 px-5 text-light-primary text-lg flex justify-between rounded-b-lg">
  <div>
    {{ title$ | async }}
  </div>
  <div dir="ltr">
    <i class="fa-solid fa-plus hover:text-green-primary transition-colors"></i>
    <i class="fa-solid fa-clock-rotate-left hover:text-green-primary transition-colors"></i>
    <i class="fa-solid fa-rotate hover:text-green-primary transition-colors"></i>
    <i class="fa-solid fa-magnifying-glass hover:text-green-primary transition-colors"></i>
  </div>
</div>