@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-slide-in {
  animation: slideFadeIn 0.5s ease-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}
