<div class="min-h-screen flex flex-col lg:flex-row bg-light-primary relative">

  <!-- Left Side Image -->
  <div class="hidden lg:block lg:w-1/2 h-screen">
    <img src="Shapes.png" alt="Login Image" class="w-full h-full">
  </div>

  <!-- Right Side: Login Form Section -->
  <div class="relative flex-1 flex flex-col items-center justify-center px-4 py-10">

    <!-- Back Icon -->
    <div class="absolute top-4 left-4 lg:left-8">
      <a href="#">
        <i class="fa-solid fa-angle-left text-xl text-dark-primary"></i>
      </a>
    </div>

    <!-- Form Content -->
    <div dir="rtl" class="w-full px-8 md:px-20 lg:px-15 max-w-md sm:max-w-lg md:max-w-xl space-y-6 lg:w-3/4 md:w-4/5">

      <h1 class="text-5xl sm:text-4xl md:text-5xl font-bold mb-8 text-center">مرحباً بعودتك!</h1>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="space-y-5">

        <div class="bg-input w-full h-12 flex items-center px-3 rounded-border shadow-sm">
          <i class="fa-solid fa-user text-dark-primary mr-2"></i>
          <input type="text" name="username" [(ngModel)]="loginData.username"
            placeholder="اسم المستخدم"
            class="flex-1 h-full bg-transparent p-2 text-sm placeholder-gray-400 focus:outline-none" />
        </div>

        <div class="bg-input w-full h-12 flex items-center px-3 rounded-border shadow-sm">
          <i class="fa-solid fa-lock text-dark-primary mr-2"></i>
          <input type="password" name="password" [(ngModel)]="loginData.password"
            placeholder="كلمة المرور"
            class="flex-1 h-full bg-transparent p-2 text-sm placeholder-gray-400 focus:outline-none" />
        </div>

        <button type="submit"
          class="bg-dark-primary w-full py-3 rounded-border text-light-primary text-sm font-medium hover:bg-green-primary transition-colors">
          تسجيل الدخول
        </button>
      </form>
      
      <app-toast [message]="toastMessage" [type]="toastType"></app-toast>
    </div>
  </div>
</div>
