<div
  class="lg:w-full md:w-full lg:h-full md:h-full lg:flex md:flex lg:justify-center md:justify-center lg:items-center md:items-center">
  <div class="flex flex-col lg:flex-row md:flex-row lg:justify-center lg:items-center gap-2 lg:flex-wrap md:flex-wrap ">
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ balance }}</span>
        <p class="font-light text-lg mt-2">الرصيد الحالي</p>
      </div>
    </div>
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ balanceDelivered }}</span>
        <p class="font-light text-lg mt-2">الرصيد بالمخزن</p>
      </div>
    </div>
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ totalSales }}</span>
        <p class="font-light text-lg mt-2">إجمالي المبيعات</p>
      </div>
    </div>
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ dailySales }}</span>
        <p class="font-light text-lg mt-2">مبيعات اليوم</p>
      </div>
    </div>
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ quotaReceived }}</span>
        <p class="font-light text-lg mt-2">الحصص المستلمة</p>
      </div>
    </div>
    <!-- Box -->
    <div
      class="bg-box h-52 flex justify-center items-center text-center border-[1px] border-box hover:border-green-primary transition duration-300 rounded-md lg:w-[32%] md:w-[49%]">
      <div>
        <span class="font-black text-7xl">{{ totalCards }}</span>
        <p class="font-light text-lg mt-2">إجمالي البطاقات</p>
      </div>
    </div>
  </div>
</div>

<app-toast></app-toast>